/*
Date:11/18/2015
Author: Jessie
This is the new css file for home.html
fix:
    alignment of form controllers
    select arrow
*/
/*
The structure of search
           div .search
                form
                    input .search_date
                    select .search_time
                    select .search_am_pm
                    select .search_num_people
                    input .search_query
                    input .search_submit
*/

.home{
    position:absolute;
    width:100%;
    height:100%;
    /*background-color:green;*/
    background: url(../assets/welcome.jpeg) no-repeat center center fixed;
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
.welcome{
    position:absolute;
    height:10%;
    font-size:300%;
    width:68%;
    left:16%;
    right:16%;
    color: #b8222d;
    top:25%;
    font-family: Verdana, Sans-serif;

}
.start{
    color:white;
    position:absolute;
    top:35%;
    left:16%;
    right:16%;
    width:68%;
    height:10%;
    font-size:250%;
    font-family:Arial, Verdana, Sans-serif;

}

/*fit the search bar to exactly to the center of the box*/
.search{
    height: 10%;
    width:68%;
    position: absolute;
    left:16%;
    right:16%;
    top:45%;
    bottom:45%;
    /*margin-left: auto;
    margin-right:auto;*/

}
/*Align all controls*/
.search_date, .search_time, .search_am_pm, .search_num_people, .search_query, .search_submit{
    height:100%;
    text-align: left;
    padding-right:20px;
    padding-left: 20px;
    float:left;
    clear:none;
    border-top-width: 0;
    border-left-width:0;
    border-bottom-width: 0;
    border-right-width:1px;
    border-color:rgba(0,0,0,0.3);
    font-family:Arial, Verdana, Sans-serif;
    font-size:18px;
    box-sizing:border-box;
}
.search_date, .search_query{
    padding-top:0px;
    padding-bottom:0px;
    /*set height to 58px for firefox*/
    /*height:58px;*/
}

.search_date{
    width:16%;
    border-top-left-radius: 5px;
    border-bottom-left-radius:5px;

}
.search_query{
    width:35%;
}

form{
    width:100%;
    height:100%;
}

.search_time, .search_am_pm, .search_num_people{
    -moz-appearance: none;
    -webkit-appearance: none;
    text-indent:1px;
    text-overflow:'';
    background-image: url(../assets/arrow_down_small.png);
    background-position: right center;
    background-repeat: no-repeat;

}
.search_time, .search_am_pm, .search_num_people::-ms-expand {
    display: none;

}

.search_submit{
    padding-left:10px;
    padding-right:10px;
    font-size:110%;
    background-color: #da3743;
    border:none;
    color: #fff;
    transition: background-color 300ms ease-out;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    text-align: center;
}
.search_submit:hover{
    background-color: #b8222d;
}


















































