/*
This is my first css file based on the examples given in the book "HTML&CSS design and build websites"
*/
/* 
    Created on : 2015-11-8, 22:35:47
    Author     : lenovo
*/
p#two img{
    width: 24.2%;   
}
p#one{
    background-color: black;
}